.pokeball-container {
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: 20%;
  .pokeball {
    display: inline-block;
    position: absolute;
    height: 200px;
    width: 200px;
    background: #ef4036;
    border-radius: 50% 50%;
    overflow: hidden;
    padding: 0px;
    border: 5px solid #666;
  }

  .glow {
    position: absolute;
    top: 9px;
    left: 26px;
    background: white;
    height: 65px;
    width: 40px;
    border-radius: 50%;
    transform: rotate(52deg);
  }

  .lower-half {
    position: absolute;
    margin: 0px;
    top: 85px;
    left: -230px;
    height: 600px;
    width: 600px;
    background: none;
    border-radius: 50%;
    z-index: 4;
    border: 25px solid #666;
  }

  .lh2 {
    background: white;
    z-index: 1;
  }

  .circle-out {
    position: absolute;
    top: 56px;
    left: 80px;
    background: white;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 15px solid #666;
    z-index: 10;
  }

  .circle-in {
    position: absolute;
    height: 35px;
    width: 35px;
    border: 3px solid #666;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: glow 1.6s ease-in-out infinite;
    animation: glow 1.6s ease-in-out infinite;
  }

  .shadow {
    position: absolute;
    left: 22px;
    top: -10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -12px 77px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  @-webkit-keyframes glow {
    0%,
    100% {
      background: rgba(255, 0, 0, 0.4);
    }
    50% {
      background: white;
    }
  }

  @keyframes glow {
    0%,
    100% {
      background: rgba(255, 0, 0, 0.4);
    }
    50% {
      background: white;
    }
  }
}
